body {
  background: #2C3E50;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.container {
  margin: 30px auto;
  width: 90%;
}
.noteBox h1 {
  color: #fff;
  text-align: center;
}
.noteBox .noteList {
  padding: 0;
}
.noteBox .noteList li.note {
  background: #fff;
  border: 1px solid #ccc;
  border-top-width: 0;
  cursor: pointer;
  list-style-type: none;
  position: relative;
}
.noteBox .noteList li.note:first-child {
  border-top-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.noteBox .noteList li.note:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.noteBox .noteList li.note .note-title {
  padding: 20px 15px;
}
.noteBox .noteList li.note .button-group {
  display: none;
  position: absolute;
  right: -1px;
  top: -1px;
}
.noteBox .noteList li.note .button-group button {
  border: 0 none;
  color: #fff;
  height: 62px;
  width: 80px;
}
.noteBox .noteList li.note .button-group .edit-button {
  background: #3498DB;
}
.noteBox .noteList li.note .button-group .delete-button {
  background: #C0392B;
  font-weight: bold;
}
.noteBox .noteList li.note:hover {
  background: #f5f5f5;
}
.noteBox .noteList li.note:hover .button-group {
  display: block;
}
.noteBox .noteList li.note .updateNoteForm input[type="text"] {
  background: #FFFFCC;
  box-sizing: border-box;
  border: 0;
  height: 60px;
  padding: 15px 15px;
  width: 100%;
}
.noteBox .noteForm input[type="text"] {
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 15px 10px;
  width: 100%;
}
